@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400&display=swap');
@media (min-width: 768px) {
    /* Styles for tablets and larger screens */
}

@media (min-width: 1024px) {
    /* Styles for desktop screens */
}
body{
    overflow-y: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 70px;
    color: #00abfe;;
    text-decoration: solid;
    font-weight: 600;
    font-family: font-family Brush Script MT, Brush Script Std, cursive;;
    
}
.navbar a{

    font-size: 18px;
    text-decoration: wavy;
    font-weight: 500;
    margin-left: 35px;
    color: antiquewhite;
}
.navbar a:hover {

    color: #00abfe;
    transform: rotateX(150deg);
    
    
}
.home{
    height: 100vh;
    background: linear-gradient(-85deg, hsl(283, 55%, 63%), rgb(120, 192, 165), rgb(0, 0, 0) 65%, #fff 35%);
    align-items: center ;
    display: flex;
}
.home-image{
    width: 500px;
    height: 500px;
    background-color: rgb(86, 192, 165);
    border-radius: 50%;
    border-color: #fff;
    border-width: 20px;
    border-style: solid;
   justify-content: center;
   align-items: center;
    
}
.home-image img{
    position: relative;
    max-width: 380px;
    
}
.home-content{

    text-align: right;
    max-width: 600px;
    color: #fff;

}
.home-content h1{
    font-size: 55px;
    line-height: 1.2;
    color: #fff;

}
.home-content h3{
    font-size: 44px;
    color:#00abfe;
    -webkit-text-stroke: .5px #fff;
    background-position: -300px 0;

   
}
.home-content p{
    font-size: 16px;
    height: 40px;
}
.home-sci{
   margin: 50px 0 40px; 
}
.home-sci a{

    display: inline-flex;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin-left: 12px;
}
.home-sci a:hover{
    background: #27c4c2;
    color: #fff;
    box-shadow: 0 0 10px #27c4c2;
    border-color: #27c4c2;

}
.logo-name a{

    color:#00abfe;
    -webkit-text-stroke: .5px black;
    font-family: Lucida Handwriting;
    font-size: larger;

    
}
.btn{

    padding: 12px 35px;
    background: #00abfe;
    border-radius: 40px;
    font-size: 17px;
    color: #fff;
    font-size: large;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px;

}
.btn:hover{
    background-color:#27c4c2;
    box-shadow: none;

}
.animated-text a{
 
    
}
.snow {
    position: sticky;
    top: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.8;
    border-radius: 50%;
    animation: snowfall 5s linear infinite;
}
.snow::before, .snow::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: 0.8;
    border-radius: 50%;
    animation: snowfall 2s linear infinite;
}
body.contact{

    font-family: Arial, sans-serif;
    background-image: url('online-school-equipment-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
    
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    color: #333;
}
/*Contact Form*/
form {
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

textarea {
    height: 150px;
}

button {
    background-color: #48d0f1;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center horizontally */
    margin-top: 20px; 
    
}

.container {
    max-width: 700px;
    max-height: 600px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-image: url('blure6.png'); 
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.text{
    color: #48d0f1;
    font-size: 45px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: 800;
}


.container {
    background-color: rgba(255, 255, 255, 0.8); 
    color: #48d0f1;
}
/*About Me Page*/

body.about {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('online-school-equipment-home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

.about-me {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-image {
    text-align: center;
    border-radius: 50%;
    
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.content {
    margin-top: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

p.plane-text{
    font-size: 16px;
    color: #666;
}

button:hover {
    background-color: #0056b3;
}
.snow::before {
    left: -20px;
}

.snow::after {
    left: 20px;
}

@keyframes snowfall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
    
}



